<div [@showContentAnimated] class="village-sim-container">
  <mat-card class="world-map-card">
    <mat-card-header class="mat-card-header-primary">
      <h2 style="margin-top: 6px">Mapa świata</h2>
    </mat-card-header>
    <mat-card-content>
      <app-world-map></app-world-map>
    </mat-card-content>
  </mat-card>

  <mat-card class="action-bar-card">
    <mat-card-header class="mat-card-header-primary">
      <h2 style="margin-top: 6px">Akcje</h2>
    </mat-card-header>
    <mat-card-content>
      <app-action-bar></app-action-bar>
    </mat-card-content>
  </mat-card>
</div>
