<div style="display: flex; justify-content: center">
  <button mat-flat-button color="primary" style="width: 128px; margin: 12px">Hello</button>
  <button mat-flat-button color="accent" style="width: 128px; margin: 12px">Hello</button>
  <button mat-flat-button color="warn" style="width: 128px; margin: 12px; color: white !important;">Hello</button>
</div>

<div style="display: flex; justify-content: center">
  <mat-card style="width: 1042px; height: 256px">
    <mat-card-header class="mat-card-header-primary">
      <h2 style="margin-top: 6px">Hello</h2>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  <mat-card style="width: 512px; height: 256px">
    <mat-card-header class="mat-card-header-primary">
      <h2 style="margin-top: 6px">Hello</h2>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>

<div style="display: flex; justify-content: center">
  <mat-card style="width: 512px; height: 256px">
    <mat-card-header class="mat-card-header-primary">
      <h2 style="margin-top: 6px">Hello</h2>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; justify-content: center">
        <button mat-flat-button color="primary" style="width: 128px; margin: 12px">Hello</button>
        <button mat-flat-button color="accent" style="width: 128px; margin: 12px">Hello</button>
        <button mat-flat-button color="warn" style="width: 128px; margin: 12px; color: white !important;">Hello</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="width: 512px; height: 256px">
    <mat-card-header class="mat-card-header-accent">
      <h2 style="margin-top: 6px">Hello</h2>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; justify-content: center">
        <button mat-flat-button color="primary" style="width: 128px; margin: 12px">Hello</button>
        <button mat-flat-button color="accent" style="width: 128px; margin: 12px">Hello</button>
        <button mat-flat-button color="warn" style="width: 128px; margin: 12px; color: white !important;">Hello</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style="width: 512px; height: 256px">
    <mat-card-header class="mat-card-header-warn">
      <h2 style="margin-top: 6px">Hello</h2>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; justify-content: center">
        <button mat-flat-button color="primary" style="width: 128px; margin: 12px">Hello</button>
        <button mat-flat-button color="accent" style="width: 128px; margin: 12px">Hello</button>
        <button mat-flat-button color="warn" style="width: 128px; margin: 12px; color: white !important;">Hello</button>
      </div>
    </mat-card-content>
  </mat-card>

</div>
