<h1>Podaj parametry świata</h1>

<div class="row">
    <div class="col-4">
        <h4 class="section-title">Rozmiar świata</h4>
    </div>
    <div class="col-4">
        <mat-form-field class="full-width">
            <mat-label>Szerokość</mat-label>
            <label>
                <input matInput placeholder="Szerokość">
            </label>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="full-width">
            <mat-label>Wysokość</mat-label>
            <label>
                <input matInput placeholder="Wysokość">
            </label>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h4 class="section-title">Współczynniki generatora</h4>
    </div>
    <div class="col-4">
        <mat-form-field class="full-width">
            <mat-label>Gęstość drzew</mat-label>
            <label>
                <input matInput placeholder="Gęstość drzew">
            </label>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="full-width">
            <mat-label>Gęstość kamieni</mat-label>
            <label>
                <input matInput placeholder="Gęstość kamieni">
            </label>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h4 class="section-title">Zasoby początkowe</h4>
    </div>
    <div class="col-2">
        <mat-form-field class="full-width">
            <mat-label>Drewno</mat-label>
            <label>
                <input matInput placeholder="Drewno">
            </label>
        </mat-form-field>
    </div>
    <div class="col-2">
        <mat-form-field class="full-width">
            <mat-label>Kamień</mat-label>
            <label>
                <input matInput placeholder="Kamień">
            </label>
        </mat-form-field>
    </div>
    <div class="col-2">
        <mat-form-field class="full-width">
            <mat-label>Pożywienie</mat-label>
            <label>
                <input matInput placeholder="Pożywienie">
            </label>
        </mat-form-field>
    </div>
    <div class="col-2">
        <mat-form-field class="full-width">
            <mat-label>Złoto</mat-label>
            <label>
                <input matInput placeholder="Złoto">
            </label>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h4 class="section-title">Mieszkańcy</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <button mat-flat-button color="primary" class="full-width">Generuj świat</button>
    </div>
</div>