<div class="action-bar-container">
  <div *ngFor="let action of this.actions" [class.parent-action-container-active]="action.active"
       class="parent-action-container">
    <button (click)="this.changeActionActive(action)" [@showContentAnimated]
            [color]="action.active === false ? 'primary' : 'accent'"
            [class.button-primary]="!action.active" [class.button-secondary]="action.active"
            class="action-bar-button" mat-stroked-button
            matTooltip="{{action.name}}" matTooltipPosition="below">
      <mat-icon>{{action.icon}}</mat-icon>
    </button>
    <span *ngIf="action.active">
      <button *ngFor="let child of action.children" [@showContentAnimated]
              (click)="this.doAction(child)" class="action-bar-button action-bar-button-child" color="accent"
              mat-flat-button matTooltip="{{child.name}}" matTooltipPosition="below">
         <mat-icon>{{child.icon}}</mat-icon>
      </button>
    </span>
  </div>
</div>

