.action-bar-container
  display: flex
  flex-direction: column
  width: 88px

.parent-action-container
  padding: 12px

  border-top: 1px solid rgba(141, 110, 99, 0.25)
  border-bottom: 1px solid rgba(141, 110, 99, 0.25)

  border-radius: 12px
  margin-bottom: 12px

  transition: 0.2s

.parent-action-container-active
  border-color: #00bcd4

.parent-action-container-active-children
  border-top: 1px solid #00bcd4
  border-bottom: 1px solid #f35b5b

.action-bar-button
  width: 64px !important
  height: 64px !important

  border-radius: 12px !important

.action-bar-button-child
  background-color: #ef5350 !important
  border-color: #ef5350 !important

.button-margin-bottom
  margin-bottom: 12px


