body
  margin: 0 !important
  padding: 0 !important

.app-container
  padding: 12px

/* Selection */

::selection
  color: white
  background: #5d4037

::-moz-selection
  color: white
  background: #5d4037

/* Buttons */

button
  transition: 0.2s

.button-border-white
  border-color: rgba(255, 255, 255, 0.25) !important

.button-border-white:hover
  border-color: rgba(255, 255, 255, 0.75) !important

.button-primary
  border-color: #5d4037 !important

.button-secondary
  border-color: #00bcd4 !important

.button-warn
  color: white !important

/* Icons */
.icon-margin-right
  margin-right: 6px

/* Card */

mat-card
  padding: 0 !important
  margin: 12px !important
  box-shadow: 0 0 3px #8d6e63 !important
  background-color: #efebe9 !important

mat-card-header
  border-top-left-radius: 3px !important
  border-top-right-radius: 3px !important
  vertical-align: baseline !important
  padding: 10px 0 !important
  height: 52px !important
  font-size: 16px !important

mat-card-header h2
  margin-left: -12px !important

mat-card-content
  padding: 24px 24px 12px 24px !important

.mat-card-header-primary
  background-color: #5d4037 !important
  box-shadow: 0 0 3px #5d4037 !important
  color: white !important

.mat-card-header-accent
  background-color: #00bcd4 !important
  box-shadow: 0 0 3px #00bcd4 !important
  color: white !important

.mat-card-header-warn
  background-color: #ef5350 !important
  box-shadow: 0 0 3px #ef5350 !important
  color: white !important

.card-bar-divider
  flex: 1 1 auto

.card-bar-button
  margin-right: 12px !important

/* Text colors */

.text-primary
  color: #5d4037 !important

.text-success
  color: #00bcd4 !important

.text-error
  color: #ef5350 !important

/* Text weights */

.text-bold
  font-weight: 500 !important


/* Other stuff */


