.startup-container
  display: flex
  justify-content: center

.world-map
  transition: 0.2s

.world-map-hidden
  width: 0 !important

.loading-spinner
  display: flex
  justify-content: center
  align-items: center
  padding: 24px
